<div class="container">
    <h2 class="main-title">
        <span class="main-title__text">
            Flexnet Categories
            <img class="ion-icon" src="/assets/icons/film-red.svg">
        </span>
    </h2>
</div>
<br>
<section class="container" id="tags">
    <ul class="alltags">
        <li>
            <a routerLink='/tags/Action' title="Action Movies">Action</a>
            <a routerLink='/tags/Sci-Fi' title="Sci-Fi Movies">Sci-Fi</a>
            <a routerLink='/tags/Family' title="Family Movies">Family</a>
            <a routerLink='/tags/Adventure' title="Adventure Movies">Adventure</a>
            <a routerLink='/tags/Drama' title="Drama Movies">Drama</a>
            <a routerLink='/tags/History' title="History Movies">History</a>
            <a routerLink='/tags/Thriller' title="Thriller Movies">Thriller</a>
            <a routerLink='/tags/Mystery' title="Mystery Movies">Mystery</a>
            <a routerLink='/tags/War' title="War Movies">War</a>
            <a routerLink='/tags/Music' title="Music Movies">Music</a>
            <a routerLink='/tags/Horror' title="Horror Movies">Horror</a>
            <a routerLink='/tags/Comedy' title="Comedy Movies">Comedy</a>
            <a routerLink='/tags/Sport' title="Sport Movies">Sport</a>
            <a routerLink='/tags/Fantasy' title="Fantasy Movies">Fantasy</a>
            <a routerLink='/tags/Animation' title="Animation Movies">Animation</a>
            <a routerLink='/tags/Biography' title="Biography Movies">Biography</a>
            <a routerLink='/tags/Crime' title="Crime Movies">Crime</a>
            <a routerLink='/tags/Romance' title="Romance Movies">Romance</a>
        </li>
    </ul>
</section>



