//Fonts import
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:500,600,700&display=swap');
//font-family: 'Chakra Petch', sans-serif;



//font var
$mainfont: 'Chakra Petch', sans-serif;