<div class="container">
    <h2 class="main-title" *ngIf="title">
        <span class="main-title__text">
            {{ title | titlecase }}
            <svg class="ion-icon" *ngIf="icon">
                <use attr.xlink:href="/assets/icons.svg#icon-{{icon}}"></use>
            </svg>
        </span>
        <a [routerLink]="Link" *ngIf="Link">View More</a>
    </h2>
</div>


<div class="swiper">

    <swiper [config]="config" *ngIf="amount">
        <li class="slider_card" *ngFor="let movie of moviesData.slice(start || 0, amount)">
            <a [routerLink]="movie.slug">

                <div class="bg" [defaultImage]="defaultimage" [errorImage]="errorimage" [lazyLoad]="movie.moviebg"
                    style="background-position: center;background-size: cover; background-repeat: no-repeat;">
                    <div class="info">
                        <div class="container">
                            <h2 class="movie_name">{{ movie.title | truncate:[25] }}</h2>

                            <div class="more_info">
                                <span>
                                    <svg class="ion-icon">
                                        <use href="/assets/icons.svg#icon-time"></use>
                                    </svg>
                                    {{ movie.duration }}
                                </span>
                                <span>
                                    <svg class="ion-icon">
                                        <use href="/assets/icons.svg#icon-star"></use>
                                    </svg>
                                    {{ movie.rating }}
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </a>
        </li>
    </swiper>

    <swiper [config]="config" *ngIf="!amount">
        <li class="slider_card" *ngFor="let movie of moviesData">
            <a [routerLink]="movie.slug">

                <div class="bg" [defaultImage]="defaultimage" [errorImage]="errorimage" [lazyLoad]="movie.moviebg"
                    style="background-position: center;background-size: cover; background-repeat: no-repeat;">
                    <div class="info">
                        <div class="container">
                            <h2 class="movie_name">{{ movie.title | truncate:[25] }}</h2>

                            <div class="more_info">
                                <span>
                                    <svg class="ion-icon">
                                        <use href="/assets/icons.svg#icon-time"></use>
                                    </svg>
                                    {{ movie.duration }}
                                </span>
                                <span>
                                    <svg class="ion-icon">
                                        <use href="/assets/icons.svg#icon-star"></use>
                                    </svg>
                                    {{ movie.rating }}
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

            </a>
        </li>
    </swiper>
</div>