<div class="container">
    <h2 class="main-title" *ngIf="title">
        <span class="main-title__text">
            {{ title | titlecase }}
            <img *ngIf="icon" class="ion-icon" src="/assets/icons/{{ icon }}.svg">
        </span>
        <a [routerLink]="Link" *ngIf="Link">View More</a>
    </h2>
</div>

<div class="swiper">

    <swiper [config]="config" *ngIf="amount">
            <li class="slider_card" *ngFor="let movie of moviesData.slice(start || 0, amount)">
                <a [routerLink]="movie.slug">

                    <div class="bg">

                    <img [defaultImage]="defaultimage" [errorImage]="errorimage" [lazyLoad]="movie.moviebg" [alt]="movie.title">

                        <div class="info">
                            <div class="container">
                                <h2 class="movie_name">{{ movie.title | truncate:[25] }}</h2>
    
                                <div class="more_info">
                                    <span>
                                        <img class="ion-icon" src="/assets/icons/time.svg">
                                        {{ movie.duration }}
                                    </span>
                                    <span>
                                        <img class="ion-icon" src="/assets/icons/star-white.svg">
                                        {{ movie.rating }}
                                    </span>
    
                                </div>
                            </div>
                        </div>
    
                    </div>
                </a>
            </li>
    </swiper>

    <swiper [config]="config" *ngIf="!amount">
            <li class="slider_card" *ngFor="let movie of moviesData">
                <a [routerLink]="movie.slug">
                    <div class="bg">
                        <img [defaultImage]="defaultimage" [errorImage]="errorimage" [lazyLoad]="movie.moviebg" [alt]="movie.title">

                        <div class="info">
                            <div class="container">
                                <h2 class="movie_name">{{ movie.title | truncate:[25] }}</h2>
    
                                <div class="more_info">
                                    <span>
                                        <img class="ion-icon" src="/assets/icons/time.svg">
                                        {{ movie.duration }}
                                    </span>
                                    <span>
                                        <img class="ion-icon" src="/assets/icons/star-white.svg">
                                        {{ movie.rating }}
                                    </span>
    
                                </div>
                            </div>
                        </div>
    
                    </div>
                </a>
            </li>
    </swiper>
</div>