<!--Search-->
<div *ngIf="slugs; else loading" class="search animated fadeIn">

    <input [(ngModel)]="moviename" list="movies-names" id="moviename" name="search" type="text" placeholder="Movie Name" onkeydown="keyCode(event)" required>
    
    <button (click)="search()">
        <svg class="ion-icon">
            <use href="/assets/icons.svg#icon-search"></use>
        </svg>
    </button>

    <datalist id="movies-names">
        <option *ngFor="let slug of slugs.slugs" value="{{slug}}">
    </datalist>
    
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
