<nav>
    <ul>
        <div class="container">

            <li class="logo"><a href="/" title="FlexNet Logo"><img src="/assets/images/logo/flexnet.png
                " alt="FlexNet"></a></li>

            <div class="ham" id="minu">
                <img class="ion-icon" src="/assets/ionicons/menu.svg">  
            </div>

            <div class="navigation" id="navigation">
                <li><a href="/movies" title="Flexnet Movies">Movies</a></li>
                <li><a href="/categories" title="Flexnet Movies Categories">Categories</a></li>
                <li><a href="/requst/" title="Request a Movie">Request</a></li>
            </div>

        </div>
    </ul>
</nav>