<nav>
    <ul>
        <div class="container">

            <li class="logo"><a href="" title="FlexNet Logo"><img src="/assets/images/logo/flexnet.png
                " alt="FlexNet"></a></li>

            <div class="ham" id="minu" (click)="togglenav()" [innerHTML]="'white-menu' | icon"></div>

            <div class="navigation" id="navigation" [class.show]="isOpen">
                <li><a routerLink="movies" title="Flexnet Movies">Movies(soon)</a></li>
                <!-- <li><a href="/langs/arabic/">Arabic Movies</a></li> -->
                <li><a routerLink="categories" title="Flexnet Movies Categories">Categories(soon)</a></li>
                <li><a routerLink="requst" title="Request a Movie">Request(soon)</a></li>
            </div>

        </div>
    </ul>
</nav>
<div class="clear"></div>